<script setup lang="ts" >
import { ref } from 'vue'
const theme = ref('light')
import { useLoginStore } from "@/stores/login"
const loginStore = useLoginStore()



function toggleTheme (){
  theme.value = theme.value === 'light' ? 'dark' : 'light'
}

const logout = () => {
  loginStore.logout()
}


</script>
<template>
  <v-app :theme="theme">
    <v-app-bar >
    <v-btn 
    :prepend-icon="theme ==='light' ? 'mdi-heart':'mdi-star'" 
    @click="toggleTheme">toggle theme</v-btn>
    <v-btn @click="logout">Logout</v-btn>
    </v-app-bar>

    <v-navigation-drawer
        expand-on-hover
        rail
      >
        <v-list>
          <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
            :title="loginStore.loginName"
            subtitle="sandra_a88@gmailcom"
          ></v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-folder" title="My Files" value="myfiles"></v-list-item>
          <v-list-item prepend-icon="mdi-account-multiple" title="Shared with me" value="shared"></v-list-item>
          <v-list-item prepend-icon="mdi-star" title="Starred" value="starred"></v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-main>
  </v-app>
</template>


